{% extends "./base.html.twig" %}

{% block title %}Profile{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('show_patients_agenda') }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.2/main.css">
{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {% block navigation_bar %}
        {{ parent() }}
    {% endblock %}

<div class="bg-light main_div">

    <div class="d-flex justify-content-center calendar_container">
        <div id='calendar' class="calendar_div"></div>
    </div>

    <div class="jumbotron bg-light" >

    </div>
</div>

    {% block javascripts %}
        {% block javascript %}
            {{ encore_entry_script_tags('show_patients_agenda') }}
        {% endblock %}
        {% block javascript_cdns %}
            {{ parent() }}
            <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.2/main.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.2/main.min.js"></script>
        {% endblock %}

        <script>

            document.addEventListener('DOMContentLoaded', function() {
                var calendarEl = document.getElementById('calendar');

                var calendar = new FullCalendar.Calendar(calendarEl, {
                    initialView: 'dayGridMonth',
                    initialDate:  new Date(),
                    headerToolbar: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay'
                    },
                    dateClick: function(info) {
                        alert('Clicked on: ' + info.dateStr);
                        alert('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
                        alert('Current view: ' + info.view.type);
                        // change the day's background color just for fun
                        //info.dayEl.style.backgroundColor = 'red';
                    },
                    eventClick: function(info) {
                        //alert('Event: ' + info.event.title);
                        //alert('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
                        //alert('View: ' + info.view.type);
                        window.location.href=viewPatientConsultation(info.event.id);
                        //window.location.href = '';
                        //alert(info.event.consultation_id);
                        // change the border color just for fun
                        //info.el.style.borderColor = 'red';
                    },

                    events: [
                        {% for consultation in consultations %}
                        {
                            id: '{{ consultation.getId()|e }}',
                            allDay: 0,
                            title: '{{ consultation.getDoctorId()|e }}',
                            start: '{{ consultation.getDate()|date("Y-m-d H:00:s") }}',
                            end: '{{ consultation.getDate()|date_modify("+1 hour")|date("Y-m-d H:00:s") }}',
                        },
                        {% endfor %}
                    ]

                });
                calendar.render();
            });

        </script>
    {% endblock %}

{% endblock %}