{{ encore_entry_link_tags('consultation_confirmation') }}

<table class="table">
    <tr>
        <th>Patient</th>
        <td>
            {{ consultation.getPatientId() }}
        </td>
    </tr>
    <tr>
        <th>Date</th>
        <td>
            {{ consultation.getDate()|date("D j M Y - G:i:s") }}
        </td>
    </tr>
    <tr>
        <th>Description</th>
        <td>
            {{ consultation.getDescription() }}
        </td>
    </tr>
</table>

{% set action = "consultation_decision/#{consultation_id}" %}
{{ form_start(form,{'action': action}) }}
    <table style="display: none;">
        <tr>
            <td>Patient</td>
            <td>{{ form_errors(form.patient_id) }}</td>
            <td>{{ form_widget(form.patient_id) }}</td>
        </tr>
        <tr>
            <td>Doctor</td>
            <td>{{ form_errors(form.doctor_id) }}</td>
            <td>{{ form_widget(form.doctor_id) }}</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>{{ form_errors(form.date) }}</td>
            <td>{{ form_widget(form.date) }}</td>
        </tr>
        <tr>
            <td>Asked by patient</td>
            <td>{{ form_errors(form.asked_by_patient) }}</td>
            <td>{{ form_widget(form.asked_by_patient,{'value' : 1}) }}</td>
        </tr>
        <tr>
            <td>Confirmed by doctor</td>
            <td>{{ form_errors(form.confirmed_by_doctor) }}</td>
            <td>{{ form_widget(form.confirmed_by_doctor, {'value' : 0}) }}</td>
        </tr>
        <tr>
            <td>Canceled by doctor</td>
            <td>{{ form_errors(form.canceled_by_doctor) }}</td>
            <td>{{ form_widget(form.canceled_by_doctor, {'value' : 0}) }}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{ form_errors(form.description) }}</td>
            <td>{{ form_widget(form.description) }}</td>
        </tr>
    </table>

{% if consultation.getConfirmedByDoctor()==0 and consultation.getCanceledByDoctor()==0 and consultation.getCanceledByPatient()==0 %}
    {% set show_decision_section=1 %}
{% elseif consultation.getConfirmedByDoctor()==1 and consultation.getCanceledByDoctor()==0 and consultation.getCanceledByPatient()==0 %}
    {% set show_decision_section=0 %}
{% elseif consultation.getConfirmedByDoctor()==0 and consultation.getCanceledByDoctor()==1 and consultation.getCanceledByPatient()==0 %}
    {% set show_decision_section=0 %}
{% elseif consultation.getConfirmedByDoctor()==0 and consultation.getCanceledByDoctor()==0 and consultation.getCanceledByPatient()==1 %}
    {% set show_decision_section=0 %}
{% endif %}

<div class="modal-footer" {% if not show_decision_section %}style="display: none;"{% endif %} >
    {{ form_widget(form.confirm) }}
    {{ form_widget(form.cancel) }}
</div>

{{ form_end(form) }}

{{ encore_entry_script_tags('consultation_confirmation') }}
