{{ encore_entry_link_tags('doctor_schedule') }}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.css">

<table class="table">
    <tr>
        <th>Date</th>
        <td>
            <input style="border-width:1px;" type="text" id="dp1" class="datepicker" placeholder="Pick Date" name="date" readonly onchange="fillDate(this);"><span class="fa fa-calendar"></span>
        </td>
    </tr>
    <tr>
        <th>Hour</th>
        <td style="width: 100%;">
            <div style="float: left;" class="btn-group" role="group" aria-label="Basic example">
                <button type="button" style="background-color: #99c2ff;" class="btn doctor_schedule_hour" value="8" id="btn_8" onclick="fillHour(this.value)">08:00 - 09:00</button>
                <button type="button" style="background-color: #cce0ff;" class="btn doctor_schedule_hour" value="9" id="btn_9" onclick="fillHour(this.value)">09:00 - 10:00</button>
                <button type="button" style="background-color: #99c2ff;" class="btn doctor_schedule_hour" value="10" id="btn_10" onclick="fillHour(this.value)">10:00 - 11:00</button>
                <button type="button" style="background-color: #cce0ff;" class="btn doctor_schedule_hour" value="11" id="btn_11" onclick="fillHour(this.value)">11:00 - 12:00</button>
            </div>
            <div style="float: right;" class="btn-group" role="group" aria-label="Basic example">
                <button type="button" style="background-color: #99c2ff;" class="btn doctor_schedule_hour" value="13" id="btn_13" onclick="fillHour(this.value)">13:00 - 14:00</button>
                <button type="button" style="background-color: #cce0ff;" class="btn doctor_schedule_hour" value="14" id="btn_14" onclick="fillHour(this.value)">14:00 - 15:00</button>
                <button type="button" style="background-color: #99c2ff;" class="btn doctor_schedule_hour" value="15" id="btn_15" onclick="fillHour(this.value)">15:00 - 16:00</button>
                <button type="button" style="background-color: #cce0ff;" class="btn doctor_schedule_hour" value="16" id="btn_16" onclick="fillHour(this.value)">16:00 - 17:00</button>
            </div>
        </td>
    </tr>
    <tr>
        <th>Description</th>
        <td>
            <textarea maxlength="3000" placeholder="Describe your case." style="width: 100%;border-radius:3px;" id="description_field"></textarea>
            <strong style="float: right;"><strong id="description_length">0</strong> / 3000</strong>
        </td>
    </tr>
</table>

{{ form_start(form,{'action': 'save_consultation'}) }}
    <table style="display: none;">
        <tr>
            <td>Patient</td>
            <td>{{ form_errors(form.patient_id) }}</td>
            <td>{{ form_widget(form.patient_id, {'value' : app.user.id}) }}</td>
        </tr>
        <tr>
            <td>Doctor</td>
            <td>{{ form_errors(form.doctor_id) }}</td>
            <td>{{ form_widget(form.doctor_id, {'value' : doctor_id}) }}</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>{{ form_errors(form.date) }}</td>
            <td>{{ form_widget(form.date) }}</td>
        </tr>
        <tr>
            <td>Asked by patient</td>
            <td>{{ form_errors(form.asked_by_patient) }}</td>
            <td>{{ form_widget(form.asked_by_patient, {'value' : 1}) }}</td>
        </tr>
        <tr>
            <td>Confirmed by doctor</td>
            <td>{{ form_errors(form.confirmed_by_doctor) }}</td>
            <td>{{ form_widget(form.confirmed_by_doctor, {'value' : 0}) }}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{ form_errors(form.description) }}</td>
            <td>{{ form_widget(form.description) }}</td>
        </tr>
        <tr>
            <td>canceled_by_doctor</td>
            <td>{{ form_errors(form.canceled_by_doctor) }}</td>
            <td>{{ form_widget(form.canceled_by_doctor, {'value' : 0}) }}</td>
        </tr>
        <tr>
            <td>{{ form_widget(form.confirm) }}</td>
            <td></td>
            <td>{{ form_widget(form.cancel) }}</td>
        </tr>
    </table>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Save demand</button>
</div>

{{ form_end(form) }}

{{ encore_entry_script_tags('doctor_schedule') }}
<script>
    // Set patient and doctor ids
    document.getElementById("consultation_form_patient_id").value={{ app.user.id }};
    document.getElementById("consultation_form_doctor_id").value={{ doctor_id }};
</script>