{% extends "base.html.twig" %}

{% block title %}Administration panel{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block body %}
    {% block navBar %}
        {{ parent() }}
    {% endblock %}
    {% for message in app.flashes('success') %}
        <div class="w-100 flex-column p-4" style="z-index: 1;position: fixed;">
            <div class="toast ml-auto" role="alert" data-delay="700" data-autohide="true" aria-live="assertive" aria-atomic="true" class="toast" data-animation="true">
                <div class="toast-header">
                    <strong class="mr-auto text-primary">Success</strong>
                    <small class="text-muted"></small>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="toast-body">{{ message }}</div>
            </div>
        </div>
    {% endfor %}
    <table style="width: 100%;height: 100%;">
        <tr>
            <td style="width: 200px;height: 100%;" class="bg-primary">
                <a class="nav-link active" onclick="loadView('home_page_content');" style="color: white;height: 100%;">Home page content</a>
            </td>
            <td>
                <div class="jumbotron" id="main_administration_tab" style="height: 100%;">
                    <div class="spinner-border" role="status" style="margin-left: 45%;margin-top: 10%;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </td>
        </tr>
    </table>

    {#<div style="height: 100%;background-color: blue;">
        <div class="row" style="height: 100%;background-color: green;">
            <div class="col-3 bg-primary" aria-orientation="vertical">
            </div>

            <div class="col-9" style="background-color: red;">

            </div>

        </div>
    </div>#}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/administration_panel.js') }}"></script>
{% endblock %}