<table class="table">
    <tr>
        <th>Patient</th>
        <td>
            {{ consultation.getPatientId() }}
        </td>
    </tr>
    <tr>
        <th>Date</th>
        <td>
            {{ consultation.getDate()|date("D j M Y - G:i:s") }}
        </td>
    </tr>
</table>

{% set action = "consultation_decision/#{consultation_id}" %}
{{ form_start(form,{'action': action}) }}
    <table style="display: none;">
        <tr>
            <td>Patient</td>
            <td>{{ form_errors(form.patient_id) }}</td>
            <td>{{ form_widget(form.patient_id) }}</td>
        </tr>
        <tr>
            <td>Doctor</td>
            <td>{{ form_errors(form.doctor_id) }}</td>
            <td>{{ form_widget(form.doctor_id) }}</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>{{ form_errors(form.date) }}</td>
            <td>{{ form_widget(form.date) }}</td>
        </tr>
        <tr>
            <td>Asked</td>
            <td>{{ form_errors(form.asked) }}</td>
            <td>{{ form_widget(form.asked,{'value' : 1}) }}</td>
        </tr>
        <tr>
            <td>Confirmed</td>
            <td>{{ form_errors(form.confirmed) }}</td>
            <td>{{ form_widget(form.confirmed, {'value' : 0}) }}</td>
        </tr>
        <tr>
            <td>Canceled</td>
            <td>{{ form_errors(form.canceled) }}</td>
            <td>{{ form_widget(form.canceled, {'value' : 0}) }}</td>
        </tr>
    </table>

<div class="modal-footer">
    {{ form_widget(form.confirm) }}
    {{ form_widget(form.cancel) }}
</div>

{{ form_end(form) }}

<script>
    document.getElementById("consultation_form_confirm").onclick = function () {
        document.getElementById("consultation_form_confirmed").value=1;
        document.getElementById("consultation_form_canceled").value=0;
    };

    document.getElementById("consultation_form_cancel").onclick = function () {
        document.getElementById("consultation_form_canceled").value=1;
        document.getElementById("consultation_form_confirmed").value=0;
    };

    saveDemand = function (confirmed) {

        if (!confirmed) {
            document.getElementById("").value=1;
        }
    }
</script>

