{% extends "base.html.twig" %}

{% block title %}Profile{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block body %}
    {% block navBar %}
        {{ parent() }}
    {% endblock %}

<div class="bg-light" style="height: 100%;">
    <div class="jumbotron bg-light" >

    <table class="table">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Doctor</th>
            <th scope="col">Activity</th>
            <th scope="col">Chat room</th>
        </tr>
        {% for consultation in consultations %}
            <tr>
                <td>{{ consultation.getDate()|date("m/d/Y") }}</td>
                <td>{{ consultation.getDoctorId()|e }}</td>
                <td>
                    {% if consultation.getDoctorId().isActiveNow() %}
                    <span style="height: 10px; width: 10px; background-color: green; border-radius: 50%; display: inline-block;"></span>
                    {% else %}
                    <span>Not available</span>
                    {% endif %}
                </td>
                <td>
                    {% if consultation.getDoctorId().isActiveNow() %}
                    <a style="background-color: Transparent; border: none;" type="button" target="_blank" href="http://localhost:3000/chatroom-{{ consultation.getId() }}-{{ consultation.getDate()|date('m-d-Y') }}">
                        <img src="{{ asset('img/ChatRoom.png') }}">
                    </a>
                    {% else %}
                    <a style="background-color: Transparent; border: none;" type="button" aria-disabled="true">
                        <img src="{{ asset('img/ChatRoomDisabled.png') }}">
                    </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    </div>
</div>
{% endblock %}