{% extends "base.html.twig" %}

{% block title %}Profile{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block body %}
    {% block navBar %}
        {{ parent() }}
    {% endblock %}

    <div class="jumbotron bg-light" style="width: 50%;margin-left: 15%;">

        <table class="table">
            <tr>
                <th scope="col">Firstname</th>
                <td>{{ user.getFirstname() }}</td>
            </tr>
            <tr>
                <th scope="col">Lastname</th>
                <td>{{ user.getLastname() }}</td>
            </tr>
            <tr>
                <th scope="col">Phone number</th>
                <td>{{ user.getPhoneNumber() }}</td>
            </tr>
            <tr>
                <th scope="col">Speciality</th>
                <td>{{ user.getSpeciality() }}</td>
            </tr>
            <tr>
                <th scope="col">E-mail</th>
                <td>{{ user.getEmail() }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="button" class="btn btn-info">Edit profile</button>
                </td>
            </tr>
        </table>
    </div>

{% endblock %}